// 這裡是共用排版樣式
// web-ui-類型-排序
@import '../helper/variables';
@import '../helper/mixins';

.line-col {
  &-div {
    opacity: 0;
    height: 1px;
    @media (max-width: $screen-sm-than-pad) {
      display: none;
    }
  }
  &-row {
    width: 100%;

    border-bottom: 1px solid $color-gray-01;
    margin: 0 10px 20px;
  }
}

.dialog-btn-layout {
  width: 100%;
  text-align: right;
}

.web-ui-title {
  color: $color-black-01;
  font-weight: $font-weight-bold;
  font-size: $font-size-h5;
  margin-bottom: 30px;
}
.web-ui-page {
  padding: 30px;
  width: 100%;
  height: 100%;
  &__block {
    padding: 20px;
    width: 100%;
    height: 100%;
    // max-width: 800px;
  }
}

.web-ui-pagination {
  margin-top: 20px;
}