@import '~@/styles/style-import.scss';

.fund-page {
  height: 100%;
  width: 100%;
  // padding: 50px;
  max-width: 800px;

  &__funtional-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__create {
    margin-bottom: 20px;
  }
  // &__table {
  //   .table__pagination {
  //     margin-top: 20px;
  //   }
  // }
}
